/* CSS Reset */

/* Reset de elementos HTML */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Estilos adicionais */
body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/** REGRAS PARA BARRA DE ROLAGEM ***/
/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Estilizando o rastro da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Cor de fundo */
}

/* Estilizando o "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #9DA1F5; /* Cor do polegar */
  border-radius: 4px; /* Borda arredondada */
}

/* Estilizando o "polegar" da barra de rolagem quando estiver sendo arrastado */
::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* Cor do polegar em hover */
}
